[Unit]
Description=Start S-Pen listener
After=connman.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/spen-start-service.sh
Restart=on-error

[Install]
WantedBy=multi-user.target
